{% extends 'layout.html' %}

{% block title %}
    <title>ajouter une station</title>
{% endblock %}

{% block body %}
  <h2>ajout d'une station</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="/stations/add" >
    <fieldset>
        <legend> Créer une station</legend>
        <label for="nomStation">nomStation</label><br>
        <input id="nomStation" type="text" name="nomStation" size="18" value="" placeholder="Saisir le nom de la station"><br>

        <label for="altitude">altitude</label><br>
        <input id="altitude" type="text" name="altitude" size="18" value="" placeholder="Saisir l'altitude de la station"><br>
        <input type="submit" value="Creer" name="Valider" >
    </fieldset>
  </form>
{% endblock %}