{% extends 'layout.html' %}

{%  block title %}
    <title> Affiche les hotels </title>
{% endblock %}

{% block body %}
<h3>Hotels à suprimer</h3>

<br><br>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>nomHotel</th>

            <th>dateCreation</th>

            <th>Station</th>

            <th>opération</th>
        </tr>
    </thead>
    <tbody>
    {% if hotels | length >= 1 %}
        {% for ligne in hotels %}
           <tr>
                  <td>{{ ligne.id }}</td>
                  <td>{{ ligne.nomHotel }}</td>

                  <td>{{ ligne.dateCreation }}</td>

                  <td>
                      {% for station in stations %}
                          {% if station.id == ligne.station_id %}
                            {{ station.nomStation }}
                          {% endif %}
                      {% endfor %}

                  </td>

                  <td>

                      <a href="/hotel/deleteGroupe?id={{ ligne.id }}&idStation={{ id }}">supprimer</a>

                  </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      pas de hotels
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}



