{% extends 'layout.html' %}

{%  block title %}
    <title> Affiche les hotels </title>
{% endblock %}

{% block body %}
<h3>Hotels</h3>
<a href="/hotel/add">ajouter un hotel</a>
<br><br>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>id <a class="btn-warning" href=/hotel/show?idtri=1">⌄</a></th>

            <th>Nom de l'hotel <a class="btn-warning" href=/hotel/show?nomtri=1">⌄</a> </th>
            <th>Nombre de chambre <a class="btn-warning" href=/hotel/show?nbrtri=1">⌄</a> </th>
            <th>Categorie <a class="btn-warning" href=/hotel/show?cattri=1">⌄</a> </th>
            <th>Prix de Base d'une chambre <a class="btn-warning" href=/hotel/show?prixtri=1">⌄</a> </th>
            <th>Date de creation <a class="btn-warning" href=/hotel/show?datetri=1">⌄</a> </th>
            <th>Photo <a class="btn-warning" href=/hotel/show?phototri=1">⌄</a> </th>
            <th>Station <a class="btn-warning" href=/hotel/show?stationtri=1">⌄</a> </th>

            <th>opération</th>
        </tr>
    </thead>
    <tbody>
    {% if hotels | length >= 1 %}
        {% for ligne in hotels %}
           <tr>
                  <td>{{ ligne.id }}</td>
                  <td>{{ ligne.nomHotel }}</td>
                  <td>{{ ligne.nombreChambre }}</td>
                  <td>{{ ligne.categorie }}</td>
                  <td>{{ ligne.prixBaseChambre }}</td>
                  <td>{{ ligne.dateCreation }}</td>
                  <td>
                  {%  if ligne.image is not none %}
                      <img class="card-img" style="width:40px;height:40px"  src="{{ url_for('static', filename = 'images/' + ligne['image']) }}"  alt="image  de {{ ligne.nomHotel }}" >
                  {% else %}
                      <img class="card-img" style="width:40px;height:40px"   src="{{ url_for('static', filename='images/no_photo.jpeg')}}"  alt="no image" >
                  {% endif %}
                  </td>
                  <td style="color: red">
                      {% for station in stations %}
                          {% if station.id == ligne.station_id %}
                            {{ station.nomStation }}
                          {% endif %}
                      {% endfor %}

                  </td>

                  <td>
                      <a href="/hotel/edit?id={{ ligne.id }}">editer</a>&nbsp;
                      <a href="/hotel/delete?id={{ ligne.id }}">supprimer</a>

                  </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      pas de hotels
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}



