{% extends 'layout.html' %}

{% block title %}
    <title>modifier une station</title>
{% endblock %}

{% block body %}
  <h2>modifier une station</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="/station/edit">
    <fieldset>
        <legend> Modifier une station</legend>
        <input type="hidden" name="id" size="18" value="{{ station.id }}" id="id">
        <label for="nomStation">nom de la station</label><br>
        <input type="text" name="nomStation" size="18" value="{{ station.nomStation }}" id="nomStation"><br>

        <label for="altitude">altitude</label><br>
        <input type="text" name="altitude" size="18" value="{{ station.altitude }}" id="altitude"><br>

        <input type="submit" value="Modifier" name="Modifier" >
    </fieldset>
  </form>
{% endblock %}